table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}

input {
  text-align: center;
}
.mrp-container {
  width: 80vw;
  border: 2px solid black;
  padding: 2rem;
}
.disabled {
  background-color: #5a5a5a;
  color: white;
}

.calculated {
  background-color: #66759a;
  color: white;
}
