table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  color: #000000;
  border: 1px solid lightgray;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border: 1px solid lightgray;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}

input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

td {
  width: 10%;
}
.mrp-container {
  width: 50vw;
  padding: 2rem;
}
.disabled {
  background-color: #dcdcdc;
}

.calculated {
  background-color: #8194b0;
  color: white;
}
